<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li class="navbar-nav">
        <a class="nav-link active" href="{% url 'Book:ex2' %}">Books</a>
        </li>
        <li class="navbar-nav">
        <a class="nav-link" href="{% url 'Book:add' %}">Create Book</a>
        </li>
        
      </ul>
    </div>
</nav>